#wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#contents {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}